html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
canvas {
  display: block;
  border: 3px solid white;
}
